<html>
<head>
	<title></title>
</head>
<body>
	<form action="{{url_for('add_item')}}" method="POST">
		<div>
			<p>Name</p>
			<input type='text' id='name' size='100' name='name'>
		</div>

		<div>
			<p>Description</p>
			<input type='text' id='description' size='100' 
				name='description'>
		</div>

		<div>
			<p>Category</p>		
			<select name="category">
			{% for c in categories %}
  				<option value="{{c.name}}">{{c.name}}</option>
			{% endfor %}
			</select>			
		</div>

		<br>
		<input type='submit' id='submit' value='Submit'>
		<a href="{{url_for('show_catalog')}}">Cancel</a>

	</form>

</body>
</html>